.App {
  background-color: #202020;
  text-align: center;
  font-family:monospace;
}

.App-link {
  color: #61dafb;
}

.gridContainer {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: repeat(3, 33.33vh);
   /*font-family:monospace;
  color: #61dafb;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
} 