
.wordGuessContainer {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    grid-template-columns: repeat(10, 65px);
    grid-template-rows: repeat(6, 65px);
    justify-self: center;
    align-self: center;
    border:5px double rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
}

.charDisplayBox {
    height: 60px;
    width: 60px;
    margin: 0px;
    padding: 0px;
    justify-self: center;
    border: 2px solid #ffffff;
    text-align: center;
    color: black;
    font-size: 23px;
}

#wordGuess {
    grid-column: 3 / 8;
    grid-row: 6 / 6;
    height: 50%;
    width: 80%;
    justify-self: center;
    align-self: center;
    background-color: rgb(228, 228, 251);
    border-color: rgb(228, 228, 251);
    border-radius: 10px;
    border: 2px solid #ffffff;
    /* margin-right: 5px; */
}

.wordGuessBtn {
    grid-column: 7 / 9;
    grid-row: 6 / 6;
    height: 60%;
    width: 45%;
    margin-left: 10px;
    justify-self: center;
    align-self: center;
}

.wordGuessTitle {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self:last baseline;
    color: rgb(95, 134, 206);
    font-size: 25px;
}

.wordGuessAlert {
    background-color: green;
    grid-column: 4 / 7;
    grid-row: 9 / 9;
    border-radius: 5px;
    padding: 8px;
}

.wordGuessKeyboard {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(6, 50px);
    justify-self: center;
    align-self: flex-start;
    margin: 10px;
}

.charDisplayKeyboard {
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    justify-self: center;
    border: 2px solid #ffffff;
    text-align: center;
    color: black;
    font-size: 23px;
}